# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
CMakeLists.txt
dkms.conf
/cmake-build-debug/
/cmake-build-debug/.cmake/
/cmake-build-debug/.cmake/api/
/cmake-build-debug/.cmake/api/v1/
/cmake-build-debug/.cmake/api/v1/query/
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-a93f20165f7e56efb4b2.json
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-56876ef9b6c4be3bef5c.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-02c14b5cf10a8e253c27.json
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/cmake-build-debug/.cmake/api/v1/reply/index-2024-04-30T13-45-07-0615.json
/cmake-build-debug/.cmake/api/v1/reply/target-mmn14-Debug-4a41541fab7bdc6898c0.json
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-225e79953e1676019e8c.json
/cmake-build-debug/CMakeFiles/
/cmake-build-debug/CMakeFiles/3.28.1/
/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdC/
/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdC/tmp/
/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdC/a.exe
/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.28.1/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.28.1/CMakeRCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.28.1/CMakeSystem.cmake
/cmake-build-debug/CMakeFiles/CMakeScratch/
/cmake-build-debug/CMakeFiles/mmn14.dir/
/cmake-build-debug/CMakeFiles/mmn14.dir/build.make
/cmake-build-debug/CMakeFiles/mmn14.dir/cmake_clean.cmake
/cmake-build-debug/CMakeFiles/mmn14.dir/compiler_depend.internal
/cmake-build-debug/CMakeFiles/mmn14.dir/compiler_depend.make
/cmake-build-debug/CMakeFiles/mmn14.dir/compiler_depend.ts
/cmake-build-debug/CMakeFiles/mmn14.dir/depend.make
/cmake-build-debug/CMakeFiles/mmn14.dir/DependInfo.cmake
/cmake-build-debug/CMakeFiles/mmn14.dir/flags.make
/cmake-build-debug/CMakeFiles/mmn14.dir/link.txt
/cmake-build-debug/CMakeFiles/mmn14.dir/linkLibs.rsp
/cmake-build-debug/CMakeFiles/mmn14.dir/objects.a
/cmake-build-debug/CMakeFiles/mmn14.dir/objects1.rsp
/cmake-build-debug/CMakeFiles/mmn14.dir/progress.make
/cmake-build-debug/CMakeFiles/mmn14.dir/test.c.obj
/cmake-build-debug/CMakeFiles/mmn14.dir/test.c.obj.d
/cmake-build-debug/CMakeFiles/pkgRedirects/
/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
/cmake-build-debug/CMakeFiles/Makefile.cmake
/cmake-build-debug/CMakeFiles/Makefile2
/cmake-build-debug/CMakeFiles/progress.marks
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/Testing/
/cmake-build-debug/Testing/Temporary/
/cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug/build.ninja
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/Makefile
/cmake-build-debug/mmn14.cbp
/cmake-build-debug/mmn14.exe
